@model IEnumerable<TekDesk.Models.EmployeeNotification>

@{
    ViewData["Title"] = "Notification";
}

<h1>Notifications</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Description Short
            </th>
            <th>
                Came At
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable" onclick="location.href = '@(Url.Action("Details", "Queries", new { id = item.QueryID } ))'">
                <td>@item.Query.Employee.FullName</td>
                <td>@item.Notification</td>
                <td>@item.Query.Added</td>
            </tr>
        }
    </tbody>
</table>

